{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--theme-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
      .body{
        background-color: rgb(0, 131, 203)   !important;
      }
      .chat-container {
        margin-top: 40px;
        padding: 20px !important;
        height: 400px !important;
        width: 100% !important;
        border: 2px solid gray !important;
        background-color: rgb(231, 244, 248) !important;
      }
      .input {
    margin-top: 5px  !important;
    width: 50% !important;
    border: 2px solid gray !important;
  }
    </style>
    <title>Dell Support</title>
  </head>
  <body background= "{% static 'images/camp.jpg' %}">
      <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="h-100 justify-content-center">
                    <span class="login100-form-title p-b-70 ogin100-form-avatar">
                        <img src="{% static 'images/dell-symbol.png' %}" alt="" width="150" height="150">
                          <span style="font-weight:bold ; font-size: 40px;color: white;">DELL Support</span>
                      </span>
                    <div class="chat-container" style="overflow: auto; max-height: 80vh">
                        <!-- chat messages -->
                        <div class="chat-message col-md-5 offset-md-7 bot-message">
                          How can I help you?
                        </div>
                    </div>
                    <form id="target">
                       <input class="input" type="text" value="" placeholder="Enter message..." id="input_message"/>
                       <input type="submit" hidden>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'custom.js' %}"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </body>
</html>