{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Dell Support
    </title>  

</head>
<body background= "{% static 'images/camp.jpg'%}">
    <div class="topnav">
        <img src="{% static 'images/dell-symbol1.jpg' %}" alt="" width="80" height="80" style="float:left;margin: 5px;">
        <p style="color: white !important;">Dell</p>
        <a href="#home">Home</a>
        <a href="#news">Products</a>
        <a href="#contact">Service</a>
        <a href="#about">Contact</a>
        <a href="#about" style="float: right;">LogIn</a>
        <a href="#about" style="float: right;">SignUp</a>
      </div>  
      
    <div class = "container">
       <div class = "column">
         <div class = "col-xs-2">
            <button class="open-button" onclick="window.location.href='{{url_for('service')}}';">Service</button>
         </div>
         <div class ="col-xs-4">
            <button class="open-button" onclick="window.location.href='{{url_for('warehouse')}}';">Warehouse</button>
         </div>
       </div>
    </div>     
</body>
</html>