{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/service.css' %}">
    <title>Dell Support
    </title>
    <script type="text/javascript">
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        (function(d, m){
          var kommunicateSettings = {"appId":"51ca65a93dfb44c85e3df4ea5d64fefd","popupWidget":true,"automaticChatOpenOnNavigation":true};
          var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
          s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
          var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
          window.kommunicate = m; m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});
    </script>   
    <style>
      
    </style>
</head>
<body background= "{% static 'images/camp.jpg' %}">
    <div class="topnav">
        <img src="{% static 'images/dell-symbol1.jpg' %}" alt="" width="80" height="80" style="float:left;margin: 5px;">
        <p style="color: white !important;">Dell Support</p>
        <a href="#home">Home</a>
        <a href="#news">Products</a>
        <a href="#contact">Service</a>
        <a href="#about">Contact</a>
        <a href="/chatbot">Chatbot</a>
        <a href="#about" style="float: right;">LogIn</a>
        <a href="#about" style="float: right;">SignUp</a>

       
</body>
</html>