body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-size:cover
  } * {box-sizing: border-box;}
  
  .topnav {
    overflow: auto;
    background-color: rgb(0,131,203);
  }

  .topnav img{
      height: 100;
      width: 100;
  }
  .topnav p {
    font-weight: bold;
    font-size: 60;
    background-color: rgb(0,131,203);
    float: left;
    margin: 3px;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color:  rgb(0,131,203);
  }
  